@{
    ViewBag.Title = "Home Page";
}

<style>

    body {
        background-image: url("https://timedotcom.files.wordpress.com/2017/07/mercedes-benz-s-class-first-drive-hero.jpg?quality=85");
        color:black;
        font-family:Algerian;
        font-size:large;
    }


</style>

<div class="jumbotron">
    <center>    
        <h1>MERCEDES-BENZ</h1>
    <p class="lead">The wagon, redefined.
    <br />
 The new C-Class Wagon.. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">The Best Or Nothing &raquo;</a></p>
        </center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Mercedes-AMG Project ONE.</h2>
        <p>
            Hypercar with Formula One technology – probably the most fascinating two-seater that will ever hit the road. 
        </p>
        <p><a class="btn btn-default" href="https://www.mercedes-benz.ca/content/canada/mpc/mpc_canada_website/en/home_mpc/passengercars/home/new_cars/current_offers.html">Discover the hypercar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lower your emissions, not your emotions.</h2>
        <p>The Mercedes-Benz GLE 550e plug-in hybrid SUV raises the GLE class power and sophistication to new levels of efficiency</p>
        <p><a class="btn btn-default" href="https://www.mercedes-benz.ca/en/home?gclid=Cj0KCQiA38jRBRCQARIsACEqIetLky19PkfSLI-rsLw6KGT7_86UBKuaxbsMCZO_zWa44LzqslXefCAaAsWnEALw_wcB&s_kwcid=AL!158!3!186730117340!e!!g!!mercedes%2520benz&ef_id=WchsOQAABVb2UgVd:20171214235827:s">Build Your Own &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Performance</h2>
        <p>We unite all aspects of performance to engineer something you can't get from a spec sheet.</p>
        <p><a class="btn btn-default" href="https://www.mercedes-benz.ca/en/vehicles/class/c-class/wagon">Subscribe &raquo;</a></p>
    </div>
</div>